description	"celery"

start on ({{ celery_start_on }})
stop on shutdown

respawn
setuid celery
chdir {{ celery_dir }}

exec {{ celery_bin }} \
    -A "{{ celery_app }}" \
    -b "{{ celery_broker_url }}" \
    worker -l {{ celery_log_level }} \
    {{ '--autoreload' if celery_autoreload else '' }} >> {{ celery_log }} 2>&1
